/* SLIDER */
.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.slide {
  min-width: 100%;
  user-select: none;
}

.slide img {
  width: 100%;
  display: block;
}
