* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f1f5f9; /* fondo claro */
  color: #111827;
}

/* HEADER */
.top {
  background: #ffffff;
  padding: 20px 30px;
  border-bottom: 1px solid #e5e7eb;
}
header h1 {
  letter-spacing: 1px;
}

header p {
  color: #64748b;
}
.logo h1 {
  margin: 0;
  font-size: 28px;
  color: #0f172a;
}

.logo span {
  font-size: 14px;
  color: #6b7280;
}

/* MENU */
.menu {
  display: flex;
  gap: 12px;
  padding: 15px;
  justify-content: center;
  background: #0f172a;
  border-bottom: 1px solid #e5e7eb;
}

.menu button {
  background: #2563eb;
  color: #ffffff;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.menu button:hover {
  background: #1d4ed8;
}

/* CONTENEDOR */
.contenedor {
  padding: 30px;
  max-width: 1300px;
  margin: auto;
}

/* PRODUCTOS GRID */
#productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 25px;
}

/* CARD */
.card {
  background: #ffffff;
  border-radius: 10px;
  padding: 18px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}

.card h3 {
  margin: 0 0 10px;
  font-size: 16px;
  color: #0f172a;
}

.card p {
  margin: 0 0 15px;
  font-size: 20px;
  font-weight: bold;
  color: #16a34a;
}

/* BOTON */
.card a {
  margin-top: auto;
  text-align: center;
  background: #22c55e;
  color: #ffffff;
  padding: 12px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
}

.card a:hover {
  background: #16a34a;
}

/* FOOTER */
.footer {
  margin-top: 40px;
  text-align: center;
  padding: 20px;
  font-size: 13px;
  color: #6b7280;
  background: #ffffff;
  border-top: 1px solid #e5e7eb;
}
.img-box {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 12px;
  background: #f8fafc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.btn-whatsapp {
  display: block;
  margin-top: 20px;
  background: #22c55e;
  color: #ffffff;
  padding: 14px;
  text-align: center;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
}
